input.ng-invalid{
  background-color: rgb(176, 80, 80);
}
input.ng-valid{
  background-color: rgb(82, 176, 80);
}
.para{
  font-size: 20px;
  color: blue;
}
form{
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  height: 30vh;
  margin: 20px;
}
.general{
  display: flex;
  justify-content: center;
}
section{
  display: flex;
  justify-content: space-between;
}

